{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}


{% block head %}
<meta property="og:url"
    content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
<meta property="og:type" content="article" />
<meta property="og:title" content="When Great Minds Don’t Think Alike" />
<meta property="og:description" content="How much does culture influence creative thinking?" />
<meta property="og:image"
    content="http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg" />
{% endblock %}


{% block content %}
<br>
{% if certificate_need_accept and not certificate_need_pay%}
<h1 class="h1-certificate">{% trans 'Пожалуйста, подтвердите сертификат' %}</h1>
<div class="container">
    <div class="big_certificate">
        <img src="{{ certificate.certificate_image.url }}" alt="">
    </div>
    <div class="transfer_btn">
        <a href="{% url 'accept' pk=certificate.pk %}">
            <img src="{% static 'img/accept.png' %}" alt="accept.png">
        </a>
    </div>
</div>
{% endif %}

{% if certificate_need_pay and not certificate_need_accept%}
<h1 class="h1-certificate">{% trans 'Поздравляем! Вы получили новый сертификат' %}</h1>
<div class="container">
    <div class="big_certificate">
        <img src="{{ certificate.certificate_image.url }}" alt="">
    </div>
    <div class="transfer_btn">
        <a href="{% url 'pay_certificate' pk=certificate.pk %}">
            <img src="{% static 'img/transfer.webp' %}" alt="">
        </a>
    </div>
</div>
{% endif %}

{% if certificate_need_pay and certificate_need_accept %}
<h1 class="h1-certificate">{% trans 'Скопируйте ссылку для отправки' %}</h1>
<div class="container">
    <div class="big_certificate">
        <img src="{{ certificate.certificate_image.url }}" alt="">
    </div>
</div><br>
{% endif %}

<!-- {% if not certificate_need_pay and not certificate_need_accept %}
<h1 class="h1-certificate">{% trans 'Сертификат оплачен' %}</h1>
<div class="container">
    <div class="big_certificate">
        <img src="{{ certificate.certificate_image.url }}" alt="">
    </div>
</div><br> -->
{% endif %}

{% endblock %}