{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
Заработок в интернете | Mocerts
{% endblock %}

{% block content %}
<main class="main">
    <div class="main__container">
        <div class="slider">
            <div class="box_container">
                <div class="main__left">
                    {% for post in posts %}
                    <article class="main__left--article">
                        <div class="main__article--block">
                            <h5 class="main__article--header">
                                {{ post.headline }}
                            </h5>
                            <a href="{% url 'postdetail' pk=post.id %}" class="main__article--text">
                                {{ post.subtitle }}
                            </a>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <div class="btn_warp">
                <button class="btn btn_left"><i class="fas fa-angle-double-left"></i></button>
                <button class="btn btn_right"><i class="fas fa-angle-double-right"></i></button>
            </div>
        </div>
        <div class="main__middle">
            <video controls="controls">
                <source
                    src="https://video.wixstatic.com/video/1694f8_029fe95547cf466b9e8433baa0fa7eda/1080p/mp4/file.mp4"
                    type="video/mp4">
            </video>
            <span class="main__info">
                Сайт находится на доработке запустим 1 июня на mocerts.com
            </span>
        </div>
    </div>
    <div class="main__banner">
        <img src="{% static 'img/banner.webp' %}" alt="Banner">
    </div>
</main>
<script src="{% static 'js/slaider.js' %}"></script>
{% endblock %}

