{% extends 'layout/base.html' %}
{% load static %}
{% load custom_filters %}
{% load i18n %}
{% load embed_video_tags %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Инструкции' %} | Mocerts
{% endblock %}

{% block content %}

<div class="manual_container">
    {% for post in manuals %}
    {{post.index_number}}
    {{post.title}}

    <iframe src="https://youtu.be/jkwVOnXcrek" disallowfullscreen=""></iframe>
    {% endfor %}
</div>

{% endblock %}