{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}
{% load thumbnail %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Мои сертификаты' %} | Mocerts
{% endblock %}

{% block content %}
<div class="empty_page">
    <div class="my_cert-container">
        <p class="my-certs-disc">
            {% trans 'Для отправки сертификатов скопируйте ссылку и нажмите на самолетик, выбрав социальную сеть. После того как человек получит и активирует его, статус меняется на получен, после оплаты на оплачен' %}
        </p>
        {% for my_certs_list in queryset %}
        <div class="certs_container">
            <div class="stack_imgs">
                {% for cert in my_certs_list %}
                <img class="stack_imgs_{{ forloop.counter }}" src="{{ cert.certificate_image|thumbnail_url:'my_certs_page' }}" alt="certificate">
                {% endfor %}
            </div>
            <div class="cert_list">
                {% for cert in my_certs_list %}
                <div class="cert_row">
                    <a href="{% url 'certificate' number=cert.number %}">№ {{ cert.number }}</a>
                    {% if cert.is_paid %}
                    <span>{% trans 'оплачен' %}</span>
                    {% else %}
                    {% if cert.is_accept %}
                    <span>{% trans 'подтвержден' %}</span>
                    {% else %}
                    {% if cert.is_received %}
                    <span>{% trans 'отправлен' %}</span>
                    {% else %}
                    <span>{% trans 'неотправлен' %}</span>
                    {% endif %}
                    {% endif %}
                    {% endif %}

                    {% if cert.is_paid %}
                    <div class="messagers">
                        <span>{{cert.paid_by_user.first_name}} {{cert.paid_by_user.last_name}}</span> 
                    </div>
                    {% else %}
                    <div class="messagers">
                        <a href="https://t.me/share?url={{ cert.get_url_for_messengers }}" target="_blank">
                            <div class="telegram-share"></div>
                        </a>
                        <a href="whatsapp://send?text={{ cert.get_url_for_messengers }}" target="_blank">
                            <div class="whatsapp-share"></div>
                        </a>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ cert.get_url_for_messengers }}"
                            target="_blank">
                            <div class="facebook-share"></div>
                        </a>
                        <a href="https://vk.com/share.php?url={{ cert.get_url_for_messengers }}&title=Mosert&description=Заработай с нами&image={{ cert.certificate_image.url }}&noparse=true"
                            target="_blank">
                            <div class="vk-share"></div>
                        </a>
                        <a href="http://connect.mail.ru/share?share_url={{ cert.get_url_for_messengers }}"
                            target="_blank">
                            <div class="mail-share"></div>
                        </a>
                    </div>
                    {% endif %}

                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}