{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Личный кабинет' %} | Mocerts
{% endblock %}

{% block content %}

<div class="profile_main">
    <div class="profile_block">
        <h2>Ваш профиль</h2><br>
        <div class="profile_form">
            {% if user.photo %}
            <img src="{{ user.photo.url }}" alt="ava">
            {% else %}
            {% endif %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p><span>Имя:</span><span>{{ form.first_name }}</span></p>
                <p><span>Фамилия:</span><span>{{ form.last_name }}</span></p>
                <p><span>Email:</span><span>{{ form.email }}</span></p>
                <p>{{ form.photo}}</p>
                <input type="submit" class="" value="Изменить">
            </form>
        </div>
        <a style="text-decoration: none;" href="{% url 'account_logout' %}">
            <span class="" style="font-size:medium;">{% trans 'Logout' %}</span>
        </a>
    </div>
</div>
{% endblock content%}