{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}


{% block property %}
<meta property="og:type" content="website">
<meta property="og:site_name" content="MoCert">
<meta property="og:url" content="summary_large_image!">
<meta property="og:locale" content="ru">
<meta name="twitter:creator" content="@PaLPaLyCH">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="Получи сертификат">
<meta property="og:description" content="Подтвердите сертификат, пожалуйста">
<meta property="og:image" content="https://doszhan.space/media/2607210912706830.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{% endblock property%}

{% block content %}
<div class="documents-title">
    {% trans 'Для создания нового сертификата просто нажмите на изображение с интересующей вас ценой.' %}
</div>
<div class="container">
    <div class="documents-wrap">
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=1 %}">
                <img src="{% static 'img/sert-1.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=5 %}">
                <img src="{% static 'img/sert-2.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=10 %}">
                <img src="{% static 'img/sert-3.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=20 %}">
                <img src="{% static 'img/sert-4.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=50 %}">
                <img src="{% static 'img/sert-5.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=100 %}">
                <img src="{% static 'img/sert-6.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=200 %}">
                <img src="{% static 'img/sert-7.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=500 %}">
                <img src="{% static 'img/sert-8.png' %}" alt="">
            </a>
        </div>
    </div>
</div>
{% endblock %}