{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Выбрать сертификат' %} | Mocerts
{% endblock %}


{% block content %}
<div class="documents-title">
    {% trans 'Для создания нового сертификата просто нажмите на изображение с интересующей вас ценой.' %}
</div>
<div class="container">
    <div class="documents-wrap">
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=1 %}">
                <img src="{% static 'img/sert-1.png' %}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=5 %}">
                <img src="{% static 'img/sert-2.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=10 %}">
                <img src="{% static 'img/sert-3.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=20 %}">
                <img src="{% static 'img/sert-4.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=50 %}">
                <img src="{% static 'img/sert-5.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=100 %}">
                <img src="{% static 'img/sert-6.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=200 %}">
                <img src="{% static 'img/sert-7.png' %}" alt="">
            </a>
        </div>
        <div class="documents-item">
            <a href="{% url 'create_certificate' nominal=500 %}">
                <img src="{% static 'img/sert-8.png' %}" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock %}