{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}
{% load custom_filters %}


{% block property %}
<meta property="og:url" content="{{ 'url'|property }}">
<meta property="og:image" content="{{ 'image'|property }}">
{% endblock property%}

{% block title %}
{% trans 'Пополнение и вывод средств' %} | Mocerts
{% endblock %}


{% block content %}

<div class="profile_main">
    <div class="deposit_block">

        <div class="deposit">
            <h1 class="deposit_title">Пополнить счет</h1>
            <form class="withdrawal_form" action="" name="deposit_form" method="POST">
                {% csrf_token %}

                <div class="deposit_form">
                    <h2>Сумма пополнения</h2>
                    {{ form.amount }}
                </div>
                <button type="submit" class="deposit_button">Оплатить</button>
            </form>
        </div>

        {% if form.errors %}
        <ul class="form_errors">
            {% for field in form %}
            {% for error in field.errors %}
            <li>
                {% if field != '__all__' %}
                <strong>{{ field.label }}:</strong>
                {% endif %}
                {{ error }}
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

        <div class="deposit">
            <h1 class="deposit_title">Вывод средств</h1>
            <form class="withdrawal_form" action="{% url 'userbalance' %}" name="deposit_form" method="GET">

                <div class="deposit_form">
                    <h2>Сумма вывода</h2>
                    {{ WithdrawalForm.withdrawal_amount }}
                </div>
                <div class="deposit_form">
                    <h2>Qiwi кошелек</h2>
                    {{ WithdrawalForm.qiwi_wallet }}
                </div>
                <button type="submit" class="deposit_button">Оставить заявку</button>
            </form>
        </div>

        <div class="deposit">
            <h1 class="deposit_title">История</h1>
            <table class="paymen_history">
                <tr class="history_title">
                    <td>Дата</td>
                    <td>Тип транзакции</td>
                    <td class="payment_id">id номер</td>
                    <td>Сумма</td>
                    <td>Статус</td>
                </tr>
                {% for transaction in  transactions %}
                <tr class="history_row">
                    <td>{{transaction.time}}</td>
                    <td>{{transaction.type}}</td>
                    <td class="payment_id">{{transaction.bill_id}}</td>
                    <td>{{transaction.amount}}</td>
                    <td>{{transaction.get_status_display}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>
<script src="{% static 'js/balanceform.js' %}"></script>
{% endblock content %}