{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load socialaccount %}


{% block title %}
{{ block.super }} : Вход на сайт
{% endblock title%}

{% block content %}
<div class="main">
    <div class="profile-data-register">
        <div style="position: absolute; top: 40%; left: 33%;">
            <div class="register">
                <h3>Пожалуйста, авторизуйтесь</h3><br>

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% include "account/errors.html" %}
                    <p>{{ form.login }}</p>
                    <p>{{ form.password }}</p>
                    <br>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <div class="main__nav--item" style="width: 40%;">
                        <button style="position: relative;top: -10px; color: #dba95e;" class="btn" type="submit">
                            {%trans "Sign In" %}
                        </button>
                    </div><br>

                    <div style="position: relative; top: 40%; bottom:40%">
                        <a href="{% provider_login_url 'google' %}">
                            <img src="{% static 'img/google_mono.png' %}" alt="Пример">
                        </a>
                        <a href="{% provider_login_url 'google' %}">
                            <img src="{% static 'img/facebook_mono.png' %}" alt="Пример">
                        </a>
                        <a href="{% provider_login_url 'google' %}">
                            <img src="{% static 'img/instagram_mono.png' %}" alt="Пример">
                        </a>
                        <a href="{% provider_login_url 'google' %}">
                            <img src="{% static 'img/vk_mono.png' %}" alt="Пример">
                        </a>
                    </div><br>

                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
                        {% trans "Forgot Password?" %}
                    </a>
                    <hr>
                </form>
                <p><a href="{{ signup_url }}">Регистрация</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}