<!DOCTYPE html>

{% extends 'layout/base.html' %}
{% load static %}
{% load i18n %}


{% block mobile_base %}

<div class="nav__mobile">
    <i class="fa fa-times close__nav" aria-hidden="true"></i>
    <ul class="nav__mobile--ul">
        <li class="nav__ul--item">
            <a href="{% url 'main_page' %}" style="text-decoration: none;">{% trans 'Home' %}</a>
        </li>
        <li class="nav__ul--item">
            <a href="{% url 'select_certificate' %}" style="text-decoration: none;">{% trans 'Create Certificate' %}</a>
        </li>
        <li class="nav__ul--item">
            <a href="my_certificates" style="text-decoration: none;">{% trans 'My Certificates' %}</a>
        </li>
        <li class="nav__ul--item">
            <a href="{% url 'manual' %}" style="text-decoration: none;">{% trans 'Instruction' %}</a>
        </li>
        <li class="nav__ul--item registration">
            <a href="#" style="text-decoration: none;">{% trans 'Registration' %}</a>
        </li>
    </ul>

    <div class="dropdown dropdown__menu--mobile">
        <div class="select">
            <img style="margin-left: 10px;" src="{% static 'img/GBR.png' %}" alt="GBR">
            <span>
                EN
            </span>
            <i class="fa fa-chevron-up open__dropdown"></i>
        </div>
        <input type="hidden" name="language">

        <ul class="dropdown-menu">
            <li id="RU">
                <img src="{% static 'img/RUS.png' %}" alt="RUS">
                <a href="/ru/">RU</a>
            </li>
            <li id="EN">
                <img src="{% static 'img/GBR.png' %}" alt="GBR">
                <a href="/en/">EN</a>
            </li>
            <li id="DE">
                <img src="{% static 'img/DEU.png' %}" alt="DEU">
                <a href="/de/">DE</a>
            </li>
            <li id="ES">
                <img src="{% static 'img/ESP.png' %}" alt="ESP">
                <a href="/es/">ES</a>
            </li>
            <li id="FR">
                <img src="{% static 'img/FRA.png' %}" alt="FRA">
                <a href="/fr/">FR</a>
            </li>
            <li id="IT">
                <img src="{% static 'img/ITA.png' %}" alt="ITA">
                <a href="/it/">IT</a>
            </li>
            <li id="PT">
                <img src="{% static 'img/PRT.png' %}" alt="PRT">
                <a href="/pt/">PT</a>
            </li>
        </ul>
    </div>
</div>

{% endblock mobile_base%}