
<script>
    window.addEventListener('load', init, false);
    function init(e) {
        let profile_photo = document.getElementsByClassName('profile-photo');
        if (profile_photo) {
            profile_photo[0].addEventListener('click', addPhoto, false);
        }
        let input_photo = document.getElementById('id_profile_photo');
        input_photo.addEventListener('change', changePhoto, false);
    }
    function addPhoto(e) {
        let input_photo = document.getElementById('id_profile_photo');
        input_photo.click();
    }
    function changePhoto(e) {
        let input_photo = document.getElementById('id_profile_photo');
        let profile_photo_img = document.getElementsByClassName('profile-photo_img')[0]
        let reader = new FileReader();

        reader.onload = function (e) {
            profile_photo_img.src = e.target.result;
        };
        reader.readAsDataURL(input_photo.files[0]);
    }
</script>  base



<li id="DE">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ cert.get_url_for_messengers }}"
  target="_blank">
      <div class="facebook-share"></div>
  </a>
</li>
<li id="DEd">
  <a href="https://vk.com/share.php?url={{ cert.get_url_for_messengers }}&title=Mosert&description=Заработай с нами&image={{ cert.certificate_image.url }}&noparse=true"
  target="_blank">
  <div class="vk-share"></div>
</a>
</li>
<li id="DEt">
  <a href="http://connect.mail.ru/share?share_url={{ cert.get_url_for_messengers }}"
  target="_blank">
  <div class="mail-share"></div>
</a>
</li>


<div style="position: absolute; top: 108%; left:0.5%;">
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/google_mono.png' %}" alt="Пример">
    </a>
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/facebook_mono.png' %}" alt="Пример">
    </a>
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/instagram_mono.png' %}" alt="Пример">
    </a>
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/vk_mono.png' %}" alt="Пример">
    </a>
  </div>
