
<script>
    window.addEventListener('load', init, false);
    function init(e) {
        let profile_photo = document.getElementsByClassName('profile-photo');
        if (profile_photo) {
            profile_photo[0].addEventListener('click', addPhoto, false);
        }
        let input_photo = document.getElementById('id_profile_photo');
        input_photo.addEventListener('change', changePhoto, false);
    }
    function addPhoto(e) {
        let input_photo = document.getElementById('id_profile_photo');
        input_photo.click();
    }
    function changePhoto(e) {
        let input_photo = document.getElementById('id_profile_photo');
        let profile_photo_img = document.getElementsByClassName('profile-photo_img')[0]
        let reader = new FileReader();

        reader.onload = function (e) {
            profile_photo_img.src = e.target.result;
        };
        reader.readAsDataURL(input_photo.files[0]);
    }
</script>  base



{% if user.is_authenticated %}
<a style="text-decoration: none;" href="{% url 'account_logout' %}">
    <span class="header__reg" style="font-size:medium;">{% trans 'Logout' %}</span>
</a>
{% endif %}

<div class="custom_wrap custom_font">
    <h2 style="text-align: center; margin-top:-3%">Кабинет пользователя</h2><br>
    <div class="profile_board">
        <div class="profile_photo">
            {% if user.photo %}
            <img src="{{ user.photo.url }}" width="200">
            {% else %}
            <a href="#">Загрузите <br> фото</a>
            {% endif %}
        </div>
        <div style="width: 70%;">
            <div class="profile_data">
                <p class="td_left">{% trans "Имя" %}</p>
                <p class="td_right">{{user.first_name}}</p>
            </div>
            <div class="profile_data">
                <p class="td_left">{% trans "Фамилия" %}</p>
                <p class="td_right">{{user.last_name}}</p>
            </div>
            <div class="profile_data">
                <p class="td_left">{% trans "Почта" %}</p>
                <p class="td_right">{{user.email}}</p>
            </div>
            <div class="profile_data">
                <p class="td_left">{% trans "Баланс" %}</p>
                <p class="td_right">0$</p>
            </div>
        </div>
    </div><br>
    <div class="main__nav--item" style="width: 20%;">
        <a style="position: relative;top: -10px; color: #dba95e;" class="btn" href="#">
            Редактировать профиль
        </a>
        
    </div>
</div>

<img class="profile_bg" src="/static/img/register_bg.jpg" alt="register_bg" width="40%">


<div style="position: absolute; top: 108%; left:0.5%;">
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/google_mono.png' %}" alt="Пример">
    </a>
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/facebook_mono.png' %}" alt="Пример">
    </a>
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/instagram_mono.png' %}" alt="Пример">
    </a>
    <a href="{% provider_login_url 'google' %}">
      <img src="{% static 'img/vk_mono.png' %}" alt="Пример">
    </a>
  </div>
